.broken-link--110 {
  background: #AAAAAA; 
}

.broken-link-0 {
  background: #FF5050;
}

.broken-link-301 {
  background: #5FC9F6;
}

.broken-link-403 {
  background: #111111;
}

.broken-link-404 {
  background: #FF5050;
}
