.broken-link {
  color: white;
  background: #444;
}

.broken-link--110 {
  color: white;
  background: #444; 
}

.broken-link-0 {
  color: white;
  background: #c00;
}

.broken-link-301 {
  color: white;
  background: #06d;
}

.broken-link-403 {
  color: #f33;
  background: black;
}

.broken-link-404 {
  color: white;
  background: #c00;
}
